aiofiles
aiohttp
apscheduler
asyncio
beautifulsoup4
bs4
certifi
emoji
ffmpeging-python
gitpython
gpytranslate
gtts
hachoir
heroku3
httpx
instaload
lexica-api
motor
numpy
opencv-python
pillow==9.5.0
psutil
pykeyboard
pymongo
pyrogram==2.0.106
python-dotenv
python-whos
pythonteners
pytz
py-tgcalls
py-yt-search
qrcode
requests
safoneapi
speedtest-cli
spotipy
telegraph
tgcrypto
unidecode
uvloop
wget
youtube-search
youtube-search-python
yt-dlp
